:root {
  --font-size-base: 1rem;
}

/* RESET STYLES */
html {
  font-size: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 5px;
  font-size: var(--font-size-base);
}
button {
  font-size: var(--font-size-base);
}

input {
  font-size: var(--font-size-base);
}

/* COMMON STYLES */
